body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: block;
  color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;
  height: 100vh;
}
.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: red;
}

.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background: #03a2ff;
}
.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: grey;
}
